body #main #mobile_social_and_drop .social_icons_mobile div {
	margin-left: 0;
	margin-right: 0;
	width: 34px;
    height: 39px;
}

body #main #mobile_social_and_drop {
	display: block!important;
}

.social_icons_mobile {

	display: flex;
	display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    padding: .8rem 0;

	a {
		margin-right: .8em;
	}

} 

.social_icons_mobile {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
}

@media screen and (min-width: 600px) {

	body #main #mobile_social_and_drop .social_icons_mobile div {
		margin-left: 0;
		margin-right: 4px;
		width: 38px;
    	height: 44px;
	}

	.social_icons_mobile {

		display: flex;
		display: -webkit-flex;
		justify-content: flex-start;
		-webkit-justify-content: flex-start;

		a {
			margin-right: 0;
		}

	}

}
