body #main #mobile_social_and_drop .social_icons_mobile div {
	margin-left: 0;
	margin-right: 0;
	width: 40px;
    height: 40px;
}
body #main #mobile_social_and_drop .social_icons_mobile {

	.facebook_desktop {
    	background-image: url(../../../images/facebook_icon@2x.png);
	}
	.linkedin_desktop {
    	background-image: url(../../../images/linkedin_icon@2x.png);
	}
	.twitter_desktop {
    	background-image: url(../../../images/twitter_icon@2x.png);
	}
	.youtube_desktop {
    	background-image: url(../../../images/youtube_icon@2x.png);
	}
	.email_desktop {
    	background-image: url(../../../images/mail_icon@2x.png);
	}
}

body #main #mobile_social_and_drop {
	display: block!important;
}

.social_icons_mobile {

	display: flex;
	display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    padding: .8rem 0;

	a {
		margin-right: .8em;
	}

} 

.social_icons_mobile {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
}

@media screen and (min-width: 600px) {

	body #main #mobile_social_and_drop .social_icons_mobile div {
		margin-left: 0;
		margin-right: 5px;
		width: 36px;
    	height: 36px;
	}

	.social_icons_mobile {

		display: flex;
		display: -webkit-flex;
		justify-content: flex-start;
		-webkit-justify-content: flex-start;

		a {
			margin-right: 0;
		}

	}

}
