
//font color (h2, h3, p)
$font-color: #414042;

/*
 * Section Background Colors
*/
	//Hero bg color
	$hero-bg-color: #90979B;

	// Video section bg color
	$video-bg-color: #D7D7D7;

	// Lock bg color
	$lock-bg-color: #86A6BF;

	// Crosswalk bg color
	$crosswalk-bg-color: #DAE1DA;

// Section Borders
$orange: #E4772F;

// button bg color
$white: #fff;

// button bg color: hover
$purple: #932D91;

//  Mobile menu border top
$md-gray: #90979B;

// button border color
// button font color
// Mobile menu bg color
$dk-gray: #465259;

// CTA menu border bottom
$cta-border-color: #44555F;

