/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 7, ../../sass/print.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #000;
  background: none;
  font-size: 10pt;
}

/* line 8, ../../sass/print.scss */
.container {
  background: none;
}

/* line 9, ../../sass/print.scss */
hr {
  background: #ccc;
  color: #ccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none;
}

/* line 10, ../../sass/print.scss */
hr.space {
  background: #fff;
  color: #fff;
  visibility: hidden;
}

/* line 11, ../../sass/print.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}

/* line 12, ../../sass/print.scss */
code {
  font: 0.9em "Courier New", Monaco, Courier, monospace;
}

/* line 13, ../../sass/print.scss */
a img {
  border: none;
}

/* line 14, ../../sass/print.scss */
p img.top {
  margin-top: 0;
}

/* line 15, ../../sass/print.scss */
blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: .9em;
}

/* line 16, ../../sass/print.scss */
.small {
  font-size: .9em;
}

/* line 17, ../../sass/print.scss */
.large {
  font-size: 1.1em;
}

/* line 18, ../../sass/print.scss */
.quiet {
  color: #999;
}

/* line 19, ../../sass/print.scss */
.hide {
  display: none;
}

/* line 20, ../../sass/print.scss */
a:link, a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
}

/* line 21, ../../sass/print.scss */
a:link:after, a:visited:after {
  content: " (" attr(href) ")";
  font-size: 90%;
}

/* line 29, ../../sass/print.scss */
body #nav_contain #search .search_contain {
  display: none;
}
/* line 33, ../../sass/print.scss */
body #nav_contain #search .account {
  display: none;
}
/* line 41, ../../sass/print.scss */
body #nav_contain #navigation .mobile_phone_account {
  display: none;
}
/* line 45, ../../sass/print.scss */
body #nav_contain #navigation #mobile_social_and_drop {
  display: none;
}
/* line 49, ../../sass/print.scss */
body #nav_contain #navigation .main_menu_contain {
  display: none;
}
/* line 59, ../../sass/print.scss */
body #main #slider {
  display: none;
}
/* line 67, ../../sass/print.scss */
body #main .single_page .library .login {
  display: none;
}
